body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
    gap: 10px; /* Add space between countdown elements */
}

#countdown div {
    flex: 1;
    text-align: center; /* Center align text within each countdown element */
}

#confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    #countdown {
        flex-direction: column; /* Stack countdown elements vertically on mobile */
        font-size: 1.5em;
    }

    #countdown div {
        margin-bottom: 10px; /* Add space between vertically stacked elements */
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.footer a {
    color: rgb(176, 255, 255);
    text-decoration: none;
}

.footer a:hover {
    color: rgba(176, 255, 255, 0.8);
}

.footer a:visited {
    color: rgb(176, 255, 255);
}